{% extends 'base.html' %}
    
    {% block content %}    

     
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-5 text-center">
                <h4>Active Trains</h4>
            </div>
        </div>
        {% if msg == 0 %}
            <div class="row">
                <div class="col-sm-5">
                    <table class="table table-sm">
                        <thread>
                            <tr>
                                <th>Track</th>
                                <th>Train Name</th>
                                <th>Trian Status</th>
                                <th class=>Track Control</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for tracknum, trainname in activeprofiles.items() %}
                            <form action ="/" method="post">
                                <tr>
                                    <td>{{tracknum}}</td>
                                    <td>{{trainname[0]}}</td>
                                    <td>{{trainname[1]}}</td>
                                    <td><button class='btn btn-secondary' name='mode' type="submit" value ="start">Start</button>
                                        <button class='btn btn-secondary' name='mode' type="submit" value ="stop">Stop</button>
                                        <button class='btn btn-secondary' name='mode' type="submit" value ="home">Home</button>
                                        <input type="hidden" name="trainid" value="{{trainname[2]}}">
                                        </td>
                                </tr>
                        </form>
                        {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-5">
                    <div class="alert alert-danger">
                        {{msg}}
                    </div>
                </div>
            </div>
            <div class="row"></div>
                <div class="col-sm-5">
                    <table class="table table-sm">
                        <thread>
                            <tr>
                                <th>Track</th>
                                <th>Train Name</th>
                                <th>Trian Status</th>
                                <th class=>Track Control</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for tracknum, trainname in activeprofiles.items() %}
                            <form action ="/" method="post">
                                <tr>
                                    <td>{{tracknum}}</td>
                                    <td>{{trainname[0]}}</td>
                                    <td>{{trainname[1]}}</td>
                                    <td><button class='btn btn-secondary' name='mode' type="submit" value ="start">Start</button>
                                        <button class='btn btn-secondary' name='mode' type="submit" value ="stop">Stop</button>
                                        <button class='btn btn-secondary' name='mode' type="submit" value ="home">Home</button>
                                        <input type="hidden" name="trainid" value="{{trainname[2]}}">
                                        </td>
                                </tr>
                        </form>
                        {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    

    {% endblock %}